html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: sans-serif;
    overflow: hidden;
}

.resizable {
    margin-top: 3%;
    margin-bottom: 0%;
    height: 90%;
    width: 100%;
}

#blocklyDiv {
    height: 100%;
    bottom: 0%;
}
